
<header>

  <div>

    <%= link_to 'Login', new_user_session_path %>


  </div>

</header>

<h1>Bem vindo a Beep Saúde</h1>

<a href="/users/sign_in">

  <button type="button">Exames</button>

</a>

<a href="/users/sign_in">

  <button type="button">Vacinas</button>

</a>
