<h1 style="text-align:center;">Para quem é a vacina(s) selecionada(s)?</h1>

<div>
    <% @profiles.each do |pf|%>
    <li><%= pf.name%></li>
    <%end%>
</div>

<div>
    <%= link_to "Adicionar perfil", new_profile_associate_path, method: :post%>
</div>