<h1>Quem vai ser vacinado?</h1>

<div id="div-vaccines">
    <% @vaccines.each do |vc| %>
    <li>💉<strong> <%=vc.name%> </strong> </li>
    <%end%>

     <p>Para quem é essa vacina?</p>
</div>

 <script>
    let div = document.getElementById("div-vaccines")
    div.addEventListener("click", () => window.location.href = "")
 </script>